@import "../../../variables.scss";

app-home {
	padding: 5vh;

	.list-wrapper {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}

	h2 {
		color: $secondaryColor;
		font-size: 5vh;
		font-weight: normal;
	}
}
